<a href="https://colab.research.google.com/github/RamuelAbarientos/CpE0332.1-1-Elective-3/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1 For Loop Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Example 2 The Break Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3 The Break Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Example 4 Looping Through a String

In [ ]:
for x in "week":
  print(x)

w
e
e
k

**Application 3** Example 5  (Display only Thursady using break statement)

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

Example 6 The Range () Function

In [ ]:
for x in range(6):
  print(x)
print("--------")
for x in range(2, 6):
  print(x)

0
1
2
3
4
5
--------
2
3
4
5

Example 7 Nested Loops

In [ ]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Example 8 Python While Loop

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

Example 9 While Loop The Break Satatement

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Example 10 Continue Statement

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

Example 11 The Else Statement

In [ ]:
i = 6
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

i is no longer less than 6

**Application 4** Let's Try - Create Python a program that displays

In [ ]:
for i in range(11):
  print (f"Hello Welcome {i}")

Hello Welcome 0
Hello Welcome 1
Hello Welcome 2
Hello Welcome 3
Hello Welcome 4
Hello Welcome 5
Hello Welcome 6
Hello Welcome 7
Hello Welcome 8
Hello Welcome 9
Hello Welcome 10

**Applicaton 5** Let's Try - Create a Python program that displays integers less than 10 but not less than 3

In [ ]:
for y in range (3,10):
  print(y)

3
4
5
6
7
8
9