<a href="https://colab.research.google.com/github/RamuelAbarientos/CpE0332.1-1-Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [68]:
x = 3
y = 2
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

Python Comment

In [22]:
print("Hello World") #This is a python comment

Hello World

Python Variable

In [28]:
z = 1
z,s = 0,-1
z,s,t = 8,9,10
z
s
t

10

Casting

In [33]:
b = "sally"  # This is a type of string
b = int(4)
b

4

Type() function

In [35]:
print(type(b))

<class 'int'>

Double Quotes and Single Quotes

In [38]:
w = "Ana"
print(w)
q = 'Ana'
print(q)

Ana
Ana

Case Sensitive

In [41]:
a = int(4)
A = "Sally"
a
A

'Sally'

Multiple Variables

In [42]:
h, i, j = "one", "two", "three"
print(h)
print(i)
print(j)

one
two
three

Multiple Variables with Single Value

In [45]:
k = l = m = 'four'
print(k)
print(l)
print(m)

four
four
four

Output Variable and concatenation +

In [48]:
n = "enjoying"
p = "Python programming is "
print(p+n)

Python programming is enjoying

Arithmetic Operations

In [54]:
print(x + y) #Addtion
print(x - y) #Subtraction
print(x * y) #Multiplication
print(x / y) #Division
print(x//y)  #Floor Division
print(x%y)   #Modulus
print(x**y)  #Exponentiation

7
3
10
2.5
2
1
25

Assignemnt Operator

In [72]:
x+=3 #same as x = x+3
print(x)

6

Comparison Operator

In [71]:
print(x == y) #x=3, y=2
print(x!=y)
print(x>y)
print(x<y)

False
True
True
False

Logical Operators

In [63]:
print(x==y and x!=y) #True and False
print(x==y or x!=y) #False or True
print(not(x==y or x!=y)) #negate(False or True)

False
True
False

Identity Operators

In [65]:
print(x is y) #False
print(x is not y) #True

False
True

Bitwise Operators

In [73]:
#10 + 1 = 11    ; 1010 + 0001 = 1011
print(10 | 1)

print(x>>1)   #x=3  ,  011

11
3